{% extends "template.html" %}
{% block content %}

<!-- Full-screen modal -->
<div class="modal modal-full ie-scroll-fix" id="modal-5" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <div class="container">
        <div class="row">
          <div class="col-sm">

        {% for row in webrows %}
          <div class="card">
            <p>{{row["website"]}}</p>
          </div>
        {% endfor %}  
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="content">
    <h1 class="content-title">
      Let's add some recipes
    </h1>
    <p>
     This app uses a Python web scraper to insert recipes from dozens of the most popular recipe sites with just the link.  View the full and most up to date list of accepted websites on <a href="https://github.com/hhursev/recipe-scrapers#scrapers-available-for"target="_blank" rel="noopener">GitHub (opens in new tab)</a>.
    </p>
  </div>
            <!-- Next comes a card -->
          <div class="card">
            <h2 class="card-title">
            </h2>

            <form action="/save" method="post" class="w-800 mw-full form-inline"> <!-- Form to add recipe into DB from approved sites -->
                <div class="form-group">
                  <label name="recipe" class="required">Recipe Link</label>
                  <input type="text" name="recipe" class="form-control" placeholder="www." required="required">
                  <input class="btn btn-primary" type="submit" value="Add Recipe">
                  <a href="#modal-5" class="btn" role="button">View list of supported sites</a>
          </div>
          
          <!-- Finally ending with a content container (without title) -->
          <div class="content">
          </div>
       
          <!-- Finally ending with a content container (without title) -->
          <div class="content">
            
          </div>

</div>
{% endblock %}